<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>countwords</title>
</head>

<body>
    <h1>Hello {{ user }}!! you are logged in.</h1>
    <h3>Upload txt file only</h3>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" accept=".txt"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <h3>num of words = {{words}}</h3>
    <h4>download your file <a href="{{url_for('download', filename=path)}}">here</a> after submitting it only.</h4><br>
    {{path}}
    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>

</html>